
.App{
    overflow: hidden;
}

.wrap{
    margin: 0 auto;
    max-width: 375px;
    width: 87%;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    header{
        margin-top: 15px;
    
        .main_nav img{
            width: 23px;
        }

        .header_in{
            display: flex;
            justify-content: space-between;
    
            .time{
                font-family: "AppleSDGothicNeoR";
                color: #000000;
                font-size: 15px;
            }
            
            .none{
                display: none;
            }
        }

        .main_nav{
            position: relative;
            top: 23px
        }
    }

    .main_header{
        .header_nav{
            display: none;
        }
    }
    
    .title_header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: #3A4759;
        font-size: 20px;
        margin-top: 20px;
        
        P{
            color: #333;
            font-size: 18px;
            line-height: 1.3;
            text-align: center;
            width: 100%;
            font-family: "AppleSDGothicNeoSB";
        }

        img{
            cursor: pointer;
        }
    
        img:first-child{
            width: 10px !important;
        }
    
        img:last-child{
            width: 22px;
        }

        #navs{
            width: 22px !important;
        }
    }

}

.section01{
    margin: 32px 0;

    .s1_wrap{
        display: flex;
        justify-content: space-between;
        height: 127px;

        img{
            width: 115px;
        }
    }

    p{
        line-height: 1.2;
    }
    
    .today{
        font-size: 20px;
        color: #545454;
        font-family: "AppleSDGothicNeoM";
    }
    .parcent{
        margin: 5px 0 10px 0;
        font-size: 70px;
        line-height: 1;
        font-family: "AppleSDGothicNeoSB";
        color: #545454;
    }

    .caption{
        font-size: 15.5px;
        font-family: "AppleSDGothicNeoM";
        color: #545454;
    }

    .race{
        margin-top: 20px;
        display: flex;
        align-items: center;


        .member,.member_caption{
            font-size: 14px;
            font-family: "AppleSDGothicNeoM";
            color: #545454;
        }
    
        .member{
            border-bottom: 1px solid #808080;
            box-sizing: border-box;
            width: 60px;
            text-align: center;
        }
    
        .member_caption{
            padding-left: 5px;
        }
    
    }
}

.section02{
    box-sizing: border-box;
    height: 333px;

    .in_s2{
        width: 100%;

        .schedule{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            padding-bottom: 10px;
    
            img{
                width: 8px;
                float: right;
                margin-left: 3px;
            }
            
            p{
                font-family: "AppleSDGothicNeoM";
                font-size: 16px;
                color: #545454;
                line-height: 1.15;
            }

            .reset{
                align-self: flex-end;
                font-family: "AppleSDGothicNeoSB";
                font-size: 13px;
                color: #333;
                width: 80px;
                cursor: pointer;
                text-align: right;
                margin-bottom: 1.5px;
            }
        }
    }

    .list{
        margin-top: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .today_date,.today_txt{
            font-family: "AppleSDGothicNeoSB";
            font-size: 16px;
            color: #707070;
        }
        
        button{
            border: 0;
            border-radius: 50%;

            img{
                width: 25px;
                cursor: pointer;
            }
        }

        .off{
            pointer-events: none;
            opacity: 0;
        }

        .op_off{
            color: #ddd;
            font-family: "AppleSDGothicNeoM";
            text-decoration: line-through;
        }
    }
}

.footer_bar{
    display: flex;
    max-width: 500px;
    margin: 23px auto 0 auto;
    float: none;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    position: relative;
    overflow: visible;

    button{
        border: 0;
        border-radius: 50%;
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -27.5px;
        width: 55px;
        height: 60px;
        z-index: 1000;
        cursor: pointer;
    }

    .f_con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 50px;
        padding-top: 8px;

        p{
            padding-top: 5px;
        }

        img{
            height: 20px;
        }
    }

    .home{
        border-right: 1px solid #e7e7e7;

    }

    .calendar a, .home a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

