@import url("https://cdn.syncfusion.com/ej2/material.css");
/* 리액트 캘린더 css */

@font-face {
    font-family: "AppleSDGothicNeoR";
    font-weight: 400;
    src: url("./font/AppleSDGothicNeoR.eot");
    src: url("./font/AppleSDGothicNeoR.woff") format("woff");
}

@font-face {
    font-family: "AppleSDGothicNeoM";
    font-weight: 500;
    src: url("./font/AppleSDGothicNeoM.eot");
    src: url("./font/AppleSDGothicNeoM.woff") format("woff");
}

@font-face {
    font-family: "AppleSDGothicNeoSB";
    font-weight: 600;
    src: url("./font/AppleSDGothicNeoSB.eot");
    src: url("./font/AppleSDGothicNeoSB.woff") format("woff");
}

@font-face {
    font-family: "youright";
    font-weight: 700;
    src: url("./font/youright.eot");
    src: url("./font/youright.woff") format("woff");
}
* {
    margin: 0;
    padding: 0;
    word-break: keep-all;
}

ul,
li {
    list-style: none;
}

img {
    display: block;
    float: left;
}

a {
    text-decoration: none;
    color: #333333;
}

.wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
    overflow: hidden;
}

header,
section,
footer {
    float: left;
    width: 100%;
    overflow: hidden;
}

footer{
    margin-bottom: 20px;
    align-self: flex-end;
}

footer p{
    text-align: center;
    font-family: "AppleSDGothicNeoR";
    color: #3A4759;
    font-size: 13.3px;
}

.none{
    display: none;
}

.center_wrap{
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

button{
    outline: 0;
    background: transparent;
}